body
{
	background: -webkit-linear-gradient(left, #2F4F4F, #20B2AA);
}


#sidebar {
    background-color: rgba(108, 122, 137, 1) ;
    width: 230px;
    height: 110%;
    position: absolute;
    left: 0;
    top: 0;
   height: 1000px;
    font-size: 20px;
    justify-content: space-around;
    margin-left: 20px;
    box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
} 

  .topnav {
    display: flex;
  overflow: hidden;
  background-color: rgba(108, 122, 137, 1);
  padding: 0px 250px;
  height: 40px;
  width: 400px;
  margin-left: 300px;

}

.but{
    background-color: grey;
    width: 90px;
    height: 40px;
}
.but:hover
{
  background: -webkit-linear-gradient(left, #20B2AA, #87CEFA);
}

.button
{
  
  padding: 7px;
  background-color: #C0C0C0;
  border-radius: 15px;

  

}
.button:hover
{

  background: -webkit-linear-gradient(left, #20B2AA, #87CEFA);
}

.tarea{
	
	background: white;
	width: 40%;
	height: 250px;
	border-color: cyan;
	    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
}
.sel{
	height: 20px;
	
}
.b
{
	
	margin-left: 300px;

}
.tarea2{
		border-color:  cyan;
	width: 40%;
	height: 250px;
	    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
}
.a{
	margin-left: 300px;
	margin-top: 30px;
}